@use "/src/styles/base/variables.sass" as *

.CharSearch
    margin-top: 30px
    padding: 25px
    width: 425px
    height: max-content
    background-color: white
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25)
    &_wrapper        
        margin-top: 15px
        display: flex
        justify-content: space-between
    &_input
        width: 250px
        height: 38px
        padding: 10px
        border: none
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        font-family: inherit
        font-size: 14px
    &_status
        &_red            
            margin-top: 10px
            color: $red
            font-size: 18px
            font-weight: 700
        &_green
            display: flex
            align-items: center
            width: 250px
            color: #03710E
            font-size: 18px
            font-weight: 700